form{
    margin-top: 5%;
    margin-bottom: 8%;
}
.row{
    padding-top: 3%;
}
h3{
    text-align: center;
}
.col-form-label{
    font-size: 21px;
    font-weight: 300;
}
.btn{
    margin-top: 3%;
    font-size: 20px;
    width: 110px;
    margin-bottom: 3%;
}