*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
}
.navbar{
  background: #037feb;
}
.menu{
  font-size: 17px;
}
.menu5{
  font-weight: 700;
}
.menu:hover{
  font-weight: 700;
}
.table{
width: 83.4%;
}
.btn-link{
  float: right;
  margin-right: 3%;
  font-size: 15px;
}
thead{
  border-top: #9d9d9d 1px solid;
}
th,td{
  text-align: center;
}



.form-horizontal{
    margin-top: 10%;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}

.form-control:invalid{
    border: red 1px solid;
}