{% extends "user_base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/password.css') }}">
    <script src="{{ url_for('static', filename = 'js/user_password.js') }}"></script>
{% endblock %}
{% block body %}
<form class="form-horizontal container-fluid col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-12 col-xs-12" role="form" method="post" id="form">
    <h3>个人信息修改</h3>
  <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">用户名</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" placeholder={{ user.username }} disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">邮箱</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3" name="email" value= {{ user.email }} pattern="^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" title="请输入格式如：xx@xx(.xx)的邮箱">
    </div>
  </div>
    <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">旧密码</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password1" name="password1" pattern="^[0-9a-zA-Z]{4,20}$" title="请输入4-20位由大小写或数字组成的密码">
    </div>
    </div>
  <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">新密码</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password2" name="password2" pattern="^[0-9a-zA-Z]{4,20}$" title="请输入4-20位由大小写或数字组成的密码">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">确认密码</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password3" name="password3" pattern="^[0-9a-zA-Z]{4,20}$" title="请输入4-20位由大小写或数字组成的密码">
    </div>
  </div>
  <div class="form-group">
    <div class="">
      <button type="submit" class="btn btn-default" id="addOk">确定</button>
    </div>
  </div>
</form>
    {% if data==0 %}
    <script>
    alert("修改成功")
    </script>
    {% elif data==1 %}
    <script>
    alert("原密码输入错误")
    </script>
    {% endif %}
{% endblock %}